body
{
    margin: 0;
    border: 0;
    font-family: 'Lora', serif;
    background: #fffbef;
    height: 100vh;
}

#formulario
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    background: #999079;
    border-radius: 5px;
    
}

#formulario form
{
    padding: 0 40px;
    box-sizing: border-box;
}

#formulario h1
{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.entradas
{
    margin-left: 20px;
    margin-right: 20px;
}

#formulario button
{
    width: 80%;
    height: 50px;
    border: 1px;
    background: #666050;
    border-radius: 25px;
}

.boton
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'EB Garamond', serif;
    color:white;
}


@media(min-width:768px)
{
    #formulario
        {
            margin: auto;
            width: 500px;
            margin-top: 150px;
            border-radius: 5px;
        }
}