body
{
    margin: 0;
    border: 0;
    font-family: 'Lora', serif;
    background: #fffbef;
    height: 900px;
}

#formulario
{   
    margin: auto;
    margin-top: 250px;
    width: 50%;
    background: #999079;
    border-radius: 5px;
}

#formulario form
{
    box-sizing: border-box;
}

#formulario h1
{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.entradas
{
    margin-left: 20px;
    margin-right: 20px;
}

.boton
{
    text-align: center;
}

#formulario button
{
    width: 80%;
    height: 50px;
    border: 1px;
    background: #666050;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-family: 'EB Garamond', serif;
    color:white;
}

@media(max-width:768px)
{
    #formulario
    {
        margin-top: 250;
        width: 70%;
    }

}
   